$negro:black;
$rojo:red;
$amarillo:black;
$azul:cornflowerblue;
$azul:blue;


h1{color:$negro;}
p{color:$negro;}
h3{color:$black;}
h5{color:$azul}


@each $color in green, red, black, white{
    .#{$color}{
    color:#{$color};
    }
}
